<!-- views/profile.ejs -->
<!doctype html>
<html ng-app="modalTest">
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    
    <!-- JS -->
    <script src="//code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular-sanitize.min.js"></script>
    <script src="/angoose/angoose-client.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/dialogs-default-translations.js"></script>
    <script src="js/dialogs.js"></script>
    <script src="js/dialogTest.js"></script>
    
    
</head>
<body>
<div class="container" ng-controller="dialogServiceTest">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
    
    <div class="col-md-pull-6" >
        <div class="row text-center " ng-repeat="job in jobs | filter: { worker: '<%= user.local.email %>' }">

            <div class="col-md-3 btn btn-default jobs btn-lg center">
                Location: {{job._id}} <br>
                Priority: {{job.priority}} <br>
            </div>

        </div>
    </div>        
        

</div>
</body>
</html>
